@-webkit-keyframes LinearGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes LinearGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

* {
    font-family: 'Poppins', 'sans-serif';
}

body {
    margin-top: 50px;
    background-size: 400% 400%;

    background: linear-gradient(to right,  #2980B9, #6DD5FA, #ade7fc);
    animation: LinearGradient 0.5s ease infinite;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    -webkit-animation: LinearGradient 20s ease infinite;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur div {
    text-align: center;
    align-self: center;
}

#informationMeteo {
    border: 1px solid black;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background : white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


#saisiRechercheVille {
    width: 350px;
    height: 40px;
    font-size: 25px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;

}

#saisiRechercheVille::placeholder {
    text-align: center;
}

#saisiRechercheVille:focus{
    outline-width: 30px;
    outline-color: rgb(199, 130, 39);
}

#boutonrechercherVille {
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 3px;
    transition: all 0.3s ease-out;

}

#boutonrechercherVille:hover {
    background-color: tan;
    color: white;
    cursor: pointer;
}

#erreurMessage {
    color: white;
}

#monFormulaire > form {
    justify-self: center;
    margin-bottom: 40px;
}

.elementEnTete {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.elementEnTete::first-letter {
    text-transform: uppercase;
}

#enTeteConteneur {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 3px;

}